@model crud_adventureworks2019.Models.Personas

@{
    ViewBag.Title = "Editar Persona";
}

<h2>Editar Persona</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.BusinessEntityID)

    <div class="form-group">
        @Html.LabelFor(m => m.PersonType)
        @Html.TextBoxFor(m => m.PersonType, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.PersonType, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.FirstName)
        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.LastName)
        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
    </div>

    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
    <a class="btn btn-secondary" href="@Url.Action("Index")">Cancelar</a>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}